force-app/main/default/flows/Concurrent_User_Authentication_Login_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AlertAdmins</name>
        <label>AlertAdmins</label>
        <locationX>377</locationX>
        <locationY>390</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Block</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>Security@CloudNineCreditLines.example.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>CountAuthSessions</name>
        <label>CountAuthSessions</label>
        <locationX>197</locationX>
        <locationY>213</locationY>
        <actionName>CountAuthSession</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Login</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>CountAuthSession</nameSegment>
        <outputParameters>
            <assignToReference>totalCount</assignToReference>
            <name>no</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>ForceLogout</name>
        <label>Set ForceLogout</label>
        <locationX>675</locationX>
        <locationY>214</locationY>
        <assignmentItems>
            <assignToReference>LoginFlow_ForceLogout</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <description>Email to alert admins about blocked concurrent sessions</description>
        <name>EmailSubject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Concurrent Sessions Blocked!</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Login</name>
        <label>Login</label>
        <locationX>342</locationX>
        <locationY>205</locationY>
        <defaultConnector>
            <targetReference>AlertAdmins</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Block</defaultConnectorLabel>
        <rules>
            <name>Allow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>totalCount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <label>Allow</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Concurrent User Authentication Login Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Concurrent User Authentication Login Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Block</name>
        <label>Block</label>
        <locationX>525</locationX>
        <locationY>215</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ForceLogout</targetReference>
        </connector>
        <fields>
            <name>Message1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: courier; color: rgb(0, 0, 0);&quot;&gt;You have exceeded the number of allowed concurrent sessions.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Message2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: courier; color: rgb(0, 0, 0);&quot;&gt;Please contact your Salesforce administrator for more information.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>71</locationX>
        <locationY>67</locationY>
        <connector>
            <targetReference>CountAuthSessions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Email to alert admins about blocked concurrent sessions</description>
        <name>EmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hello Security Team,
More than 2 concurrent sessions were attempted by username: {!$User.Username}. The third attempt was blocked. Please review the login history and session management logs for more information.</text>
    </textTemplates>
    <variables>
        <name>LoginFlow_ForceLogout</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>sessionCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>totalCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
